<a href="https://colab.research.google.com/github/kishorereddyr11/Data-Structures-And-Algorithms-Using-Python/blob/master/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import pandas as pd
import numpy as np

In [66]:
file = pd.read_csv('student_dataset.csv')

In [67]:
print(file.head()) # First 5 rows in data set will we printed

       Student_Names   Phone_No.  Math  Physics  Chemistry Grade  \
0   Donald Contreras  9208625450  76.0     84.0         54    B+
1      Joseph Horton  9886408555  91.0     75.0         78     A
2  Savannah Burns MD  9047592659  64.0     98.0         20     C
3     William Carter  9048473864  15.0     95.0         32     D
4     John Rodriguez  9685225730  86.0     86.0         66    B+

                    Comment  Roll No.           School Name  \
0            Good Pursuance    524613  Martin Luther School
1      Very Good Achivement    561635  Martin Luther School
2  Below Average Achivement    560985  Martin Luther School
3            Poor Pursuance    535126  Martin Luther School
4            Good Pursuance    559410  Martin Luther School

                                     Student Address
0             478 Mooney Park, New Valerie, VI 28836
1            037 Matthew Shores, Greeneton, CA 98399
2         96124 Lloyd Streets, Edwardmouth, DC 61677
3            11959 Clark Village, Ivanview, NH 43940
4  051 Weaver Glen Apt. 724, West Davidborough, M...

In [68]:
print(file) ## by printing file it will display whole file

          Student_Names   Phone_No.  Math  Physics  Chemistry Grade  \
0      Donald Contreras  9208625450  76.0     84.0         54    B+
1         Joseph Horton  9886408555  91.0     75.0         78     A
2     Savannah Burns MD  9047592659  64.0     98.0         20     C
3        William Carter  9048473864  15.0     95.0         32     D
4        John Rodriguez  9685225730  86.0     86.0         66    B+
...                 ...         ...   ...      ...        ...   ...
8995   Kimberly Stevens  9129352703  40.0     87.0         65     B
8996     Kelsey Bonilla  9649715711  56.0     84.0         75    B+
8997         Kelly Dunn  9825362271  80.0     70.0         16     C
8998     Joseph Nichols  9363540473  24.0     95.0         59     C
8999    Susan Armstrong  9879539785  31.0     76.0         18     D

                       Comment  Roll No.           School Name  \
0               Good Pursuance    524613  Martin Luther School
1         Very Good Achivement    561635  Martin Luther School
2     Below Average Achivement    560985  Martin Luther School
3               Poor Pursuance    535126  Martin Luther School
4               Good Pursuance    559410  Martin Luther School
...                        ...       ...                   ...
8995       Average Performance    569342  Martin Luther School
8996            Good Pursuance    530124  Martin Luther School
8997  Below Average Achivement    592266  Martin Luther School
8998  Below Average Achivement    583028  Martin Luther School
8999            Poor Pursuance    503637  Martin Luther School

                                        Student Address
0                478 Mooney Park, New Valerie, VI 28836
1               037 Matthew Shores, Greeneton, CA 98399
2            96124 Lloyd Streets, Edwardmouth, DC 61677
3               11959 Clark Village, Ivanview, NH 43940
4     051 Weaver Glen Apt. 724, West Davidborough, M...
...                                                 ...
8995          27054 Adrian Streets, Diazmouth, OH 81346
8996        570 Christopher Run, Williammouth, ND 11535
8997   32283 Carpenter Summit, North Patricia, PR 51483
8998  2336 Blackburn Fall Apt. 905, South Shelby, ND...
8999      2328 Jennifer Extension, Lake David, OR 11243

[9000 rows x 10 columns]

In [69]:
print(file.isnull()) # it displays for each and every entitys weather the value is null or not

      Student_Names  Phone_No.   Math  Physics  Chemistry  Grade  Comment  \
0             False      False  False    False      False  False    False
1             False      False  False    False      False  False    False
2             False      False  False    False      False  False    False
3             False      False  False    False      False  False    False
4             False      False  False    False      False  False    False
...             ...        ...    ...      ...        ...    ...      ...
8995          False      False  False    False      False  False    False
8996          False      False  False    False      False  False    False
8997          False      False  False    False      False  False    False
8998          False      False  False    False      False  False    False
8999          False      False  False    False      False  False    False

      Roll No.  School Name  Student Address
0        False        False            False
1        False        False            False
2        False        False            False
3        False        False            False
4        False        False            False
...        ...          ...              ...
8995     False        False            False
8996     False        False            False
8997     False        False            False
8998     False        False            False
8999     False        False            False

[9000 rows x 10 columns]

In [70]:
print(file.isnull().sum()) ## after adding sum -> it will display no of null values for each and every object

Student_Names      0
Phone_No.          0
Math               3
Physics            3
Chemistry          0
Grade              0
Comment            0
Roll No.           0
School Name        0
Student Address    0
dtype: int64

In [71]:
file['Math'] = file['Math'].fillna(file['Math'].mean())  ## Remove all Null values in the maths object by using fillna function replace null by mean of all marks of maths

In [72]:
file['Physics'] = file['Physics'].fillna(file['Physics'].mean())  ## Remove all Null values in the physics object by using fillna function replace null by mean of all marks of physics

In [73]:
print(file.isnull().sum())

Student_Names      0
Phone_No.          0
Math               0
Physics            0
Chemistry          0
Grade              0
Comment            0
Roll No.           0
School Name        0
Student Address    0
dtype: int64

In [74]:
file['Total_Score'] = file['Math']+file['Physics']+file['Chemistry']
print(file['Total_Score'])

0       214.0
1       244.0
2       182.0
3       142.0
4       238.0
        ...
8995    192.0
8996    215.0
8997    166.0
8998    178.0
8999    125.0
Name: Total_Score, Length: 9000, dtype: float64

In [75]:
print("Final prepared Dataset")
print(file)

Final prepared Dataset
          Student_Names   Phone_No.  Math  Physics  Chemistry Grade  \
0      Donald Contreras  9208625450  76.0     84.0         54    B+
1         Joseph Horton  9886408555  91.0     75.0         78     A
2     Savannah Burns MD  9047592659  64.0     98.0         20     C
3        William Carter  9048473864  15.0     95.0         32     D
4        John Rodriguez  9685225730  86.0     86.0         66    B+
...                 ...         ...   ...      ...        ...   ...
8995   Kimberly Stevens  9129352703  40.0     87.0         65     B
8996     Kelsey Bonilla  9649715711  56.0     84.0         75    B+
8997         Kelly Dunn  9825362271  80.0     70.0         16     C
8998     Joseph Nichols  9363540473  24.0     95.0         59     C
8999    Susan Armstrong  9879539785  31.0     76.0         18     D

                       Comment  Roll No.           School Name  \
0               Good Pursuance    524613  Martin Luther School
1         Very Good Achivement    561635  Martin Luther School
2     Below Average Achivement    560985  Martin Luther School
3               Poor Pursuance    535126  Martin Luther School
4               Good Pursuance    559410  Martin Luther School
...                        ...       ...                   ...
8995       Average Performance    569342  Martin Luther School
8996            Good Pursuance    530124  Martin Luther School
8997  Below Average Achivement    592266  Martin Luther School
8998  Below Average Achivement    583028  Martin Luther School
8999            Poor Pursuance    503637  Martin Luther School

                                        Student Address  Total_Score
0                478 Mooney Park, New Valerie, VI 28836        214.0
1               037 Matthew Shores, Greeneton, CA 98399        244.0
2            96124 Lloyd Streets, Edwardmouth, DC 61677        182.0
3               11959 Clark Village, Ivanview, NH 43940        142.0
4     051 Weaver Glen Apt. 724, West Davidborough, M...        238.0
...                                                 ...          ...
8995          27054 Adrian Streets, Diazmouth, OH 81346        192.0
8996        570 Christopher Run, Williammouth, ND 11535        215.0
8997   32283 Carpenter Summit, North Patricia, PR 51483        166.0
8998  2336 Blackburn Fall Apt. 905, South Shelby, ND...        178.0
8999      2328 Jennifer Extension, Lake David, OR 11243        125.0

[9000 rows x 11 columns]